<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/airbnb_styles.css" />
    <link rel="stylesheet" href="/styles/fonts.css">
    
</head>
<body>

    <div class="container-1">
        
            <div class="header" style="padding: 20px;">
                 <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false" style="height: 2em; color: white; width: 2em; display: block; fill: currentcolor;"><path d="m499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z"></path></svg>

                <div class="menu">
                    <div>Become a host</div> 
                    <div>Help</div> 
                    <div>Sign Up</div> 
                    <div>Log in</div>      
                </div>  
            
            
            </div>
             
            <h2 id="title_outside_form">Book unique homes and experiences.</h2>
            <!--Form-->
            <div class="second_part_of_banner">  
              
                     <div>  

                            <form class="form_div" action="#" method="POST">
    
                        <div class="item_full_size"><h2 id="title_inside_form">Book unique homes and experiences.</h2></div>

                        <div class="item_full_size ">
                            <label for="where">WHERE</label> <br>
                         
                            <input type="text" id=where name="" placeholder="anywhere">
                        
                        </div> 
                        <div id="item_half_size_left">
                            <label for="checkin_input">Check In</label>
                            
                            <input type="text" id=checkin_input name="" placeholder="mm/dd/yyyy">
                        </div>


                        <div id="item_half_size_right">     

                            <label for="checkout_input">Check Out</label>
                        
                            <input type="text" id=checkout_input name="" placeholder="mm/dd/yyyy">
                        </div>    
                    
                        <div class="item_full_size">
                            <label for="guest_picker">Guests</label>
                            <select id="guest_picker">
                                    <option>1 guest</option>
                                </select>
                    
                        </div>    
                           
                        
                        <div class="form_button">
                        <button >Search</button>
                        </div>
                    </form>
                </div>        
            </div>
           <div class="text_at_bottom_of_banner"> 
               <p> Mais de 300 
                <p> casas únicas no Oregon</p> 
            </div>
    </div>





    <!--body-->

    <div id="body_wrapper">
        <h2> Explore Airbnb</h2>
        <div class="categories">
            <a href="">
                <div class="category_item"> 
                    <div class="category_image" id="image_1"></div>
                    <p  class="category_text" style="margin-left:10px;"><strong>Casas</strong></p>
                </div>
             
            </a>
            


            <a href="">
                <div class="category_item"> 
                    <div class="category_image" id="image_2"></div>
                    <p class="category_text" style="margin-left:10px;"><strong>Experiências</strong></p>
                </div>
                 
            </a>
            

            <a href="">
                <div class="category_item"> 
                    <div class="category_image" id="image_3"></div>
                    <p class="category_text" style="margin-left:10px;"><strong>Restaurantes</strong></p>
                </div>
                 
            </a>
                
                


        </div>

        <!--Airbnb Plus-->
        <h2> Apresentamos o Airbnb Plus</h2>
        <p> Uma nova seleção de casas com conforto e qualidade verificados</p>
        <div class="image_Airbnb_plus">
            <div class="centered_Airbnb_plus">
                <img src="/images/Airbnb-Plus-Logo.png" style="width: 130px"alt="">
                <div class="Airbnb_plus_btn">EXPLORAR CASAS &#10095;</div>  
            </div> 
        </div>

        <!--Recomendado para si-->
        <h2> Recomendado para si</h2>
        <div class="recomendado">
            <div class="recomendado_items" id="Paris">
                <div class="recomendado_text">
                    <h3>Paris</h3>
                    <p>€91/noite em média</p>
                </div>    
            </div>

            <div class="recomendado_items" id="Toquio">
                    <div class="recomendado_text">
                        <h3>Tóquio</h3>
                        <p>€73/noite em média</p>
                    </div>    
            </div>

            <div class="recomendado_items" id="Londres">
                    <div class="recomendado_text">
                        <h3>Londres</h3>
                        <p>€105/noite em média</p>
                    </div>    
            </div>

            <div class="recomendado_items" id="Los_Angeles">
                    <div class="recomendado_text">
                        <h3>Los Angeles</h3>
                        <p>€110/noite em média</p>
                    </div>    
            </div>


            <div class="recomendado_items" id="Barcelona">
                    <div class="recomendado_text">
                        <h3>Barcelona</h3>
                        <p>€69/noite em média</p>
                    </div>    
            </div>
            

        </div>


       

        <!--Casas no mundo inteiro-->
        <h2>Casas no mundo inteiro</h2>
       
        <br>
        <br>
        <div class="worldwide_homes">
            <div class="worldwide_homes__items" id="item_1">
                <div class="items_img" id="image_worldwide_homes_1"></div>
                <div class="home_text"> 
                    <h4 id="home_text_title_1">CHALÉ INTEIRO · LLOSETA
                    <h3> Independent cottage, mountain view</h2>
                    <p>€59 por noite · Cancelamento gratuito</p>
                    <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                </div>
            </div>

            <div class="worldwide_homes__items_2" id="item_2">
                    <div class="items_img" id="image_worldwide_homes_2"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title">QUARTO PRIVADO · SUZHOU
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>
            
            
            <div class="worldwide_homes__items" id="item_3">
                    <div class="items_img" id="image_worldwide_homes_3"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title_3">QUARTO PRIVADO · LONDRES
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>


            <div class="worldwide_homes__items" id="item_4">
                    <div class="items_img" id="image_worldwide_homes_4"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title_4">CHALÉ INTEIRO · VIANA DO CASTELO
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>
            

            <div class="worldwide_homes__items" id="item_5">
                    <div class="items_img" id="image_worldwide_homes_5"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title_5">CHALÉ INTEIRO · VIANA DO CASTELO
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>

            <div class="worldwide_homes__items" id="item_6">
                    <div class="items_img" id="image_worldwide_homes_6"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title_6">CHALÉ INTEIRO · VIANA DO CASTELO
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>


            <div class="worldwide_homes__items" id="item_7">
                    <div class="items_img" id="image_worldwide_homes_7"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title_7">CHALÉ INTEIRO · VIANA DO CASTELO
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>


            <div class="worldwide_homes__items" id="item_8">
                    <div class="items_img" id="image_worldwide_homes_8"></div>
                    <div class="home_text"> 
                        <h4 id="home_text_title_8">CHALÉ INTEIRO · VIANA DO CASTELO
                        <h3> Independent cottage, mountain view</h2>
                        <p>€59 por noite · Cancelamento gratuito</p>
                        <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
                    </div>
            </div>




        </div>   




        <!--Casas para o seu género de viagem-->
        <h2>Casas para o seu género de viagem</h2>
        <p style="font-size: 18px;">Encontre uma casa com avaliações excelentes e as comodidades que precisa</p>
        <br>
        <br>
        <div class="genero_viagem">
            <div class="genero_viagem__items" id="Familia" >
                <div class="genero_viagem__items_image_1"></div>
                <div class="genero_viagem__items_text"> 
                    <h4>MAIS DE 20000 CASAS </h4>
                    <p>Descubra uma casa perfeita para familias. Relaxe e tire partido de um espaço so para si.</p> 
                </div>
            </div>




            <div class="genero_viagem__items" id="Trabalho" >
                <div class="genero_viagem__items_image_2">     
                                                      
                    
                
    
                </div>
                <div class="genero_viagem__items_text"> 
                    <h4>MAIS DE 20000 CASAS </h4>
                    <p>Descubra uma casa perfeita para familias. Relaxe e tire partido de um espaço so para si.</p> 
                </div>
                </div>
        
        </div>    
       

       
                
    
         



    </div>


</body>
<script src="/js/main.js" ></script>
</html>





    