<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/airbnb_styles.css" />
    <link rel="stylesheet" href="/styles/fonts.css">
    <script src="main.js"></script>
    
</head>
<body>


<!--Casas no mundo inteiro-->
 <h2>Casas no mundo inteiro</h2>
       <h1></h1>
 <br>
 <br>
 <div class="worldwide_homes">
     <!-- for here -->
     <% for(var i=0; i < apartments.length; i++) { %>
     <!--
        <tr>
          <td><%= apartments[i].img_url %></td>
          <td><%= apartments[i].title %></td>
          <td><%= apartments[i].stars %></td>
          <td><%= apartments[i].description %></td>
        </tr>
     
-->

     <div class="worldwide_homes__items" id="item_1">
         <div class="items_img" style="background-image: url(<%= apartments[i].img_url %>)"></div>
         <div class="home_text"> 
             <h4 id="home_text_title_1"><%= apartments[i].title %>
             <h3> <%= apartments[i].description %></h2>
             <p><%= apartments[i].price %> por noite · Cancelamento gratuito</p>
             <h5><%= apartments[i].stars %> Superhost</h6>
         </div>
     </div>

     <% } %>
     <!-- end for -->



     <!-- <div class="worldwide_homes__items_2" id="item_2">
             <div class="items_img" id="image_worldwide_homes_2"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title">QUARTO PRIVADO · SUZHOU
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 ·  Superhost</h6>
             </div>
     </div>
     
     
     <div class="worldwide_homes__items" id="item_3">
             <div class="items_img" id="image_worldwide_homes_3"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title_3">QUARTO PRIVADO · LONDRES
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
             </div>
     </div>


     <div class="worldwide_homes__items" id="item_4">
             <div class="items_img" id="image_worldwide_homes_4"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title_4">CHALÉ INTEIRO · VIANA DO CASTELO
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
             </div>
     </div>
     

     <div class="worldwide_homes__items" id="item_5">
             <div class="items_img" id="image_worldwide_homes_5"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title_5">CHALÉ INTEIRO · VIANA DO CASTELO
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
             </div>
     </div>

     <div class="worldwide_homes__items" id="item_6">
             <div class="items_img" id="image_worldwide_homes_6"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title_6">CHALÉ INTEIRO · VIANA DO CASTELO
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
             </div>
     </div>


     <div class="worldwide_homes__items" id="item_7">
             <div class="items_img" id="image_worldwide_homes_7"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title_7">CHALÉ INTEIRO · VIANA DO CASTELO
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
             </div>
     </div>


     <div class="worldwide_homes__items" id="item_8">
             <div class="items_img" id="image_worldwide_homes_8"></div>
             <div class="home_text"> 
                 <h4 id="home_text_title_8">CHALÉ INTEIRO · VIANA DO CASTELO
                 <h3> Independent cottage, mountain view</h2>
                 <p>€59 por noite · Cancelamento gratuito</p>
                 <h5> &#9733; &#9733; &#9733; &#9733; &#9733; &#9733; 214 · Superhost</h6>
             </div>
     </div> -->


 </div>   

</body>
</html>
