  
  <!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Page Title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" media="screen" href="/styles/airbnb_styles.css" />
      <link rel="stylesheet" href="/styles/fonts.css">
      <script src="main.js"></script>
      
  </head>
  <body>
  
  <!--body-->

  <div id="body_wrapper">
    <h2> Explore Airbnb</h2>
    <div class="categories">
        <a href="">
            <div class="category_item"> 
                <div class="category_image" id="image_1"></div>
                <p  class="category_text" style="margin-left:10px;"><strong>Casas</strong></p>
            </div>
         
        </a>
        


        <a href="">
            <div class="category_item"> 
                <div class="category_image" id="image_2"></div>
                <p class="category_text" style="margin-left:10px;"><strong>Experiências</strong></p>
            </div>
             
        </a>
        

        <a href="">
            <div class="category_item"> 
                <div class="category_image" id="image_3"></div>
                <p class="category_text" style="margin-left:10px;"><strong>Restaurantes</strong></p>
            </div>
             
        </a>
            
            


    </div>

</body>
</html>
