<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    



     <!--Form-->     
        <div>  
            <form class="form_new_home" action="/homes" method="POST">

           <div class="item_full_size"><h2 id="title_inside_form">Post a new home.</h2></div>

           <div class="item_full_size ">
               <label for="name_of_home">Name</label> <br>
            
               <input type="text" id=name_of_home name="name" placeholder="anywhere">
           
           </div> 

           <div class="item_full_size ">
            <label for="price">Price</label> <br>
         
            <input type="text" id=price name="price" placeholder="anywhere">
        
        </div> 

               
           <div class="item_full_size">
               <label for="beds_numbers">Number of beds</label>
               <select id="beds_numbers">
                       <option>1 bed</option>
                   </select>
       
           </div>    
              
           
           <div class="form_button">
           <button >Post</button>
           </div>
       </form>      
</div>


</body>
</html>