<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/airbnb_styles.css" />
    <link rel="stylesheet" href="/styles/fonts.css">
    <script src="main.js"></script>
    
</head>
<body>



       <!--Airbnb Plus-->
       
       <h2> Apresentamos o Airbnb Plus</h2>
       <p> Uma nova seleção de casas com conforto e qualidade verificados</p>
       <div class="image_Airbnb_plus">
           <div class="centered_Airbnb_plus">
               <img src="/images/Airbnb-Plus-Logo.png" style="width: 130px"alt="">
               <div class="Airbnb_plus_btn">EXPLORAR CASAS &#10095;</div>  
           </div> 
       </div>
    
    </body>
    </html>
    